# Images and output files #
###############
*.tif
*.tiff
*.png
*.out
*.jpg
*.kmz
*.shp
*.shx
*.tfw
*.prj
*.dbf
# TensorFlow  save files #
###############
*.meta
*.index
*.data*
# Keras saved files #
###################
*.h5
*.json
*.hdf5
*.npy
*.json
# Other files #
################
*.zip
*.txt
################
C:/Users/msegalro/NeMO_NET/NeMO-NET/CNN/logs/
C:/Users/msegalro/NeMO_NET/NeMO-NET/CNN/output/
C:/Users/msegalro/NeMO_NET/NeMO-NET/CNN/plots/
