# Images and output files #
###############
*.tif
*.TIF
*.tiff
*.png
*.out
*.jpg
*.kmz
*.shp
*.shx
*.tfw
*.prj
*.dbf
*.lyr
*.sbn
*.sbx
*.CPG
*.ovr
# TensorFlow  save files #
###############
*.meta
*.index
*.data*
# Keras saved files #
###################
*.h5
*.hdf5
*.npy
*.json
# Other files #
################
*.zip
*.txt
*.pdf
*.xml
*.yml
*.rar
################
C:/Users/msegalro/NeMO_NET/NeMO-NET/CNN/logs/
C:/Users/msegalro/NeMO_NET/NeMO-NET/CNN/output/
C:/Users/msegalro/NeMO_NET/NeMO-NET/CNN/plots/
