# Images and output files #
###############
*.tif
*.tiff
*.png
*.out
*.jpg
*.kmz
# TensorFlow  save files #
###############
*.meta
*.index
*.data*
# Keras saved files #
###################
*.h5
*.json
*.hdf5
*.npy
*.json
